nav.navbar.navbar-light.bg-light.justify-content-between
  a.navbar-brand(href='/index.html') Singapore Guide
  .form-inline
    input#searchInput.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
    button.btn.my-2.my-sm-0.sgg-btn.sgg-search(href='#', onclick='doSearch()').fas 
