.hero-form
    form 
        input#searchInput(type='search' placeholder='Start Your Search Here')
        a.btn.sgg-btn.sgg-search(href='#',onclick='doSearch()').fas             
    //- a.btn(href='https://www.facebook.com/sgguidebot' target='_blank') More Local Content On Facebook
    //- // consider adding multi data set https://tih-dev.stb.gov.sg/map-api/apis/get/v1/search/multidataset     