doctype html
html(lang="en")
  head
    include partials/header.pug
    link(rel='stylesheet' href='css/landing_page.css')
    script(type="module" src="/index.js")
  body

    include partials/weather.pug
    section.hero
      .background-image
      .hero-content-area
        h1 Welcome to Singapore Guide
        h3 Local Content, Locally Curated
        include partials/search.pug
        //- a.btn(href='https://www.facebook.com/sgguidebot' target='_blank') More Local Content On Facebook
    section.content
      p Eat, Explore, Educate (Repeat)
        br
        | From restaurant suggestions for your next meal
        br
        | Things to explore whilst here in Singapore
        br
        a#findcontent.btn(href='https://www.facebook.com/sgguidebot' target='_blank')
          span.fab.fa-facebook.fa-2x
          span &nbsp;ind Local Content

      hr
      H3 Find some inspirations from some of the posts on Facebook

      ul.grid
        li
          .fb-post(data-href='https://www.facebook.com/600240357092630/posts/1301787860271206')
        li
          .fb-post(data-href='https://www.facebook.com/600240357092630/posts/1201606373622689')
        li
          .fb-post(data-href='https://www.facebook.com/600240357092630/posts/762942800822384')
        li
          .fb-post(data-href='https://www.facebook.com/600240357092630/posts/861242900992373')
        li
          .fb-post(data-href='https://www.facebook.com/600240357092630/posts/984674911982504')
        li
          .fb-post(data-href='https://www.facebook.com/600240357092630/posts/1209925342790792')
      include partials/footer.pug
    #fb-root
    script(async='' defer='' src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2')