doctype html
html(lang="en")
  head
    include partials/header.pug
    link(rel='stylesheet' href='css/landing_page.css')
    script(type="module" src="/index.js")
  body

    include partials/weather.pug
    section.hero
      .background-image
      .hero-content-area
        h1 Welcome to Singapore Guide
        h3 Local Content, Locally Curated
        include partials/search.pug
        //- a.btn(href='https://www.facebook.com/sgguidebot' target='_blank') More Local Content On Facebook
        //- // consider adding multi data set https://tih-dev.stb.gov.sg/map-api/apis/get/v1/search/multidataset
    section.content
      p Eat, Explore, Educate (Repeat)
        br
        | From restaurant suggestions for your next meal
        br
        | Things to explore whilst here in Singapore
        br
        a#findcontent.btn(href='https://www.facebook.com/sgguidebot' target='_blank')
          span.fab.fa-facebook.fa-2x
          span &nbsp;ind Local Content

      hr
      H3 If it is not listed, it is not done!
      p Create a quick list of the things you want to do whilst in Singapore!
      ul.grid
        li
          i.fas.fa-utensils.fa-4x
          // Add in Restaurants
          h4 Customise your restaurant list
        li
          i.fas.fa-heart.fa-4x
          // Add in Recommendations - create list from URL input
          h4 Curate your 'to-do' list
        li
          i.fas.fa-route.fa-4x
          // Add in Plan Itinery - Create list from
          h4 Compose your own itinery here
        li
          i.fas.fa-spa.fa-4x
          // Add in Parks
          h4 Create a walk in our parks
      include partials/footer.pug
