doctype html
html(lang="en")
  include partials/header.pug
  body
    // Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox
    include partials/search.pug
    include partials/weather.pug
    section.hero    
      .background-image
      .hero-content-area
        h1 Welcome to Singapore Guide
        h3 Local Content, Locally Curated
        .hero-form
          form 
            input(type='search' placeholder='Start Your Search Here')
            a.btn(href='#').fas          
        //- a.btn(href='https://www.facebook.com/sgguidebot' target='_blank') More Local Content On Facebook
        //- // consider adding multi data set https://tih-dev.stb.gov.sg/map-api/apis/get/v1/search/multidataset     
    section.content
      p Eat, Explore, Educate (Repeat)
        br
        | From restuarant suggestions for your next meal
        br
        | Things to explore whilst here in Singapore
        br
        a.btn(href='https://www.facebook.com/sgguidebot' target='_blank') Find Local Content On Facebook
     
      hr
      ul.grid
        li
          i.fas.fa-utensils.fa-4x
          // Add in Restaurants
          h4 Find a nice restaurant here
        li
          i.fas.fa-heart.fa-4x
          // Add in Recommendations
          h4 Find some things to do here
        li
          i.fas.fa-route.fa-4x
          // Add in Plan Itinery
          h4 Create your own itinery here
        li
          i.fas.fa-spa.fa-4x
          // Add in Parks
          h4 Take a walk in our parks

  include partials/footer.pug
