doctype html
html(lang="en")
  head
    include partials/header.pug
    link(rel='stylesheet' href='css/landing_page.css')
    link(rel='stylesheet' href='css/restaurant.css')
  body
    include partials/navbar.pug
    div#searchHeader    
    #template(style='visibility:hidden')
      .card-wrap(onclick='restCardWrap(this.firstElementChild.dataset.type, this.firstElementChild.dataset.index)')
        .sgg-card-header(data-index='$index', data-type='$_type')
          .card-image(style='background-image:url(\'$image\')')
          .card-type(class='$type')
          .card-title $title
          .card-content
            .card-text $text            
            .card-btn.one code
    ul#myTab.nav.nav-tabs(role='tablist')
      li.nav-item(role='presentation')
        button#restaurants-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#rest_results' type='button' role='tab' aria-controls='rest_results' aria-selected='true') Restaurants
      li.nav-item(role='presentation')
        button#attraction-tab.nav-link(data-bs-toggle='tab' data-bs-target='#attr_results' type='button' role='tab' aria-controls='attr_results' aria-selected='false') Attractions
      li.nav-item(role='presentation')
        button#accommodation-tab.nav-link(data-bs-toggle='tab' data-bs-target='#acco_results' type='button' role='tab' aria-controls='acco_results' aria-selected='false') Accommodations
    #myTabContent.tab-content
      #rest_results.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='restaurants-tab')
      #attr_results.tab-pane.fade(role='tabpanel' aria-labelledby='attraction-tab') 
      #acco_results.tab-pane.fade(role='tabpanel' aria-labelledby='accommodation-tab') 
  

    #rest_details      
      .card-wrap
        .sgg-card-header
          .card-image(style='background-image:url(\'$image\')')
          .card-title $name ($categoryDescription)
          .card-rating $rating ⭐
          .card-content
            .card-text.badge.badge-info $amenities
            a.card-address(href='https://www.google.com/maps/place/$address.block+$address.streetName+$address.postalCode', target='_blank') $address.block $address.streetName $address.unitNumber $address.postalCode
            .card-text $description
            a.card-address(href='tel:$contact.primaryContactNo') $contact.primaryContactNo
            .card-text $body             
          
    script(type="module" src="./js/load_rest.js")
